body{
   /* Set line spacing */
   line-height: 1.5;
}


header, nav{
    /* Set padding and margin */
    padding: 50px 40px 30px 20px;
    margin: 4px;
}
nav ul li{
    /* Set display, margin, padding, font-size, background-color */
    display: inline-block;
    margin: 5%;
    padding: 30px;
    background-color: beige;
    font-size: 20px;
}

nav a{
    /* Set text decoration*/
    text-decoration: none;
    text-underline-offset: 15px;
    color: #000000;
}

a:visited{
    /* Set color */
    color: #000000;
}

nav a.current{
    /* Set text decoration, transformation, and underline properties */
    text-decoration: wavy underline;
    text-transform: uppercase;
}


h1{
   /*Set font and font size*/
    font-family: Merriweather, Anton, "Times New Roman", Verdana;
    font-size: 30px;
}

h2{
    /*Set font, font size, and aligcnment*/
    font-family: Anton, "Times New Roman", Verdana;
    font-size: 40px;
    text-align: center;
}

h3{
    /*Set font size*/
    font-size: 50px;
}

h1, h2, h3{
    /*Set margin */
    margin-top: 15px;
}
.grid{
    /*Set width, margin, border properties, background color, and grid properties */
    display: inline-grid;
    width: 90%;
    row-gap: 10px;
    border-radius: 25px;
    column-gap: 50px;
    margin: 0 5vw;
    grid-template-columns: 30% 30% 30%;
    background-color: rgb(91, 108, 128);
}

.grid div{
    /* Set border properties, padding, and background color */
    border: solid 3px black;
    border-radius: 24px;
    background-color: #edeef0;
    padding: 15px;
}

.grid img{
    /* Set width, margin, and display */
    display: block;
    margin: auto;
    width: 90%;
}


.grid div:nth-child(3n+1)  {
    /* Set box shadow */
    box-shadow: 9px 0 16px  #F5F5F5;

    }

.grid div:nth-child(3n)  {
    /* Set box shadow */ 
   box-shadow: -9px 0 16px #F5F5F5;
}

.grid div:nth-child(3n+2)  {
     /* Set box shadow */
     box-shadow: 9px 0 16px  #F5F5F5, -9px 0 16px #F5F5F5;
}
    

p + p {
     /* Set indentation */
    text-indent: 25px;
}
  
p{
     /* Set margin */
     margin: 10px;
}


.grid ul li{
    /* Set margin, line-spacing, list styling  */
    margin: 0px 0px 20px 40px;
    line-height: 1;
    list-style-image: url(../images/sketchbook.png);
}
